.tab-pane{
	-fx-font-family: "Verdana";
}
.label{
	-fx-font-family: "Verdana";
	-fx-font-size: 16;
}

.combo-box{
	-fx-border-color: #708090;
	-fx-font-family: "Verdana";
	-fx-font-weight: bold;
}
.combo-box:hover{
	-fx-cursor: hand;
}
.date-picker{
	-fx-border-color: #708090;
	-fx-font-family: "Verdana";
	-fx-cursor: hand;
}
.text-field{
	-fx-border-color: #708090;
	-fx-font-family: "Verdana";
}

